[package]
name = "graphics"
version = "0.1.0"
edition = "2024"

[dependencies]
ash = "0.38.0"
ash-window = "0.13.0"
fontdue = { version = "0.9.3", features = ["std"] }
naga = { version = "25.0.1", features = ["glsl-in", "spv-out"] }
obj-rs = "0.7.4"
rand = "0.9.1"
rayon = "1.10.0"
softbuffer = "0.4.6"
vk-mem = "0.4.0"
winit = "0.30.11"

[profile.dev.package."*"]
opt-level = 3

[profile.dev]
debug = true

[features]
stats = []
vulkan_linked = ["ash/linked"]
# default = ["vulkan_linked"]
