[package]
name = "graphics"
version = "0.1.0"
edition = "2024"

[dependencies]
winit = { version = "0.30.11", features = ["android-native-activity"] }

[lib]
name = "graphics"
crate-type = ["cdylib"]
